$header-height: 8rem;
$first-color: #0095F4 ;
$second-color: #FFFFFF;
$btn-call: #3F69FA;
$grey-color:  rgba(222, 226, 230, 0.3);
$text-color: #182F43;
/* tipografia site */
$body-font: 'Poppins', sans-serif;
$big-font-size: 5rem; /* 80px */
$bigger-font-size: 3.5rem; /* 60px */
$h1-font-size: 2.5rem; /* 40px */
$h2-font-size: 2.25rem;  /* 36px */
$h3-font-size: 1.5rem; /* 24px */
$normal-font-size: 1.25rem; /* 20px */
$basic-font-size: 1.15rem; /* 18px */
$small-font-size: 1rem; /* 16px */
$smaller-font-size: .75rem; /* 12px */
$font-medium: 500;
$font-semi-bold: 600;

/* margin bottom */
$mb-0-5: .5rem;
$mb-0-75: .75rem;
$mb-1: 1rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;
$mb-2-5: 2.5rem;
$mb-3: 3rem;
$mb-3-5: 3.5rem;
$mb-5: 5rem;
/* posição */
$z-tooltip: 10;
$z-fixed: 100;
